a:hover {
  text-decoration: none
}

th, td {
  padding: 1rem;
}

hr {
  border-color: #272822;
}

button:focus {outline:0;}


.navbar-brand {
  color: green;
  width: 80px;
  height: auto;
}

.btn {
  color: white;
  background: transparent;
}
.nav-default{
  background-color: #272822;
  padding: 1rem;
  height: 40px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/* lobby styling */
.lobby-page {
  background-color: #2f3129;
  color: white;
  height: 100vh;
}

/*left side of screen: */
.left-screen {
  float: left;
  max-width: 300px;
  min-width: 220px;
  height: inherit;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
  margin-left: 20px;
}

.webcam-section {
  order: 0;
  float: left;
  width: 100%;
  display: flex;
  position: absolute;
  bottom: 2%;
}

.parent-webcam {
  width: 100%;
  height: 100%;
  position: relative;
}

.waiting {
  display: flex;
  justify-content: center;
  align-items: center;
  color: slategray;
  font-size: 20px;
  background-color: black;
}

.myStream {
  right: 0px;
  bottom: 0px;
  width: 33%;
  position: absolute;
  z-index: 2;
}

.test-suite {
  position: relative;
  order: 1;
  overflow-x: auto;
  overflow-y: scroll;
  height: 35vh;
}

.test-suite-item {
  /*background-color: green*/
}

.test-suite-item > * {
  margin-left: 100px
}

/*right side of screen lobby: */
.editor-section {
  float: right;
  flex-grow: 1;;
}

.menu-lobby {
  margin-left: 100px;
  flex-grow: 1;
}

.header {
  width: 100%;
  height: 100px;
  border: 1px solid black;
  position: fixed;
}

.footer {
  background-color: #2f3129;
  height: 5px;
  width: 100vw;
}

.challenge-tab {
  cursor: pointer;
  border: none;
  background-color: #272822;
  color: slategray;
  padding: 1.5% 2.5% 1.5% 2.5%;
  margin:  2.5% 1px 2.5% 1px;
  width: 49%;
}

.onActive {
  background-color: black;
  color: white;
  border-bottom: 3px solid green;
}

#ConfirmBox > .modal-container {
  background-color: #2f3129;
}

.confirm-button {
  width: 80px;
  display: inline;
  background-color: #272822;
  border: none;
  color: white;
  font-size: 0.8em;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.confirm-button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.pass-fail-icon {
  width: 80px;
  height: auto;
  animation-duration: 0.8s;
  margin-top: 13px;
}

#Pass_Fail {
  background-color: white;
  width: 230px;
  height: auto;
}

#CompleteIcon {
  margin-top: 4px;
  margin-right: -7px
}

#RunIcon {
  width: 22px;
  height: auto;
  color: white;
}

#ErrorMessage {
  margin-left: 5%;
}

#ChallengeInfoTabs {
  margin-top: 20px;
}

#ChallengeInstruction {
  padding: 5px 10px 5px 10px;
  overflow: scroll;
}

#landingPage {
  height: 100vh;
  overflow-y: hidden;
}

#create-lobby {
  margin-top: 125px;
  width: 400px;
  height: 50px;
  z-index: 0;
  background: #272822;
  border: none;
  color: white;
  text-align: center;
}

#create-lobby:hover {
  background-color: black;
  border-bottom: 3px solid green;
}

#landingPageGif {
  position: absolute;
  width: 100%;
  height: 93.5vh;
  background: url('./landingPage.gif') no-repeat;
  background-size: cover;
  z-index: -1;
  filter: blur(0.8px);
  overflow-y: hidden;
  margin: 0;
  padding: 0;
}

#landingPage_description {
  margin-top: 170px;
  height: 0px;
  color: white;
  font-size: 1.5em;
}

#RunButton  {
  width: 150px;
  display: inline;
  margin-left: 35px;
  background-color: #272822;
  border: none;
}

#ResetButton {
  width: 150px;
  display: inline;
  margin-left: 35px;
  background-color: #272822;
  border: none;
}

#ResetButton .hide {
  display: none;
}

#ResetButton:hover {
  background-color: black;
  border-bottom: 2px solid green;
}

#RunButton:hover {
  background-color: black;
  border-bottom: 2px solid green;
}

#ChallengeButton {
  width: 150px;
  margin-left: 30vh;
  background-color: #272822;
  border: none;
}

#ChallengeButton:hover {
  background-color: black;
  border-bottom: 2px solid green;
}

#EditorBar {
  margin-bottom: 7px;
}

#ChallengePanel {
  min-width: 20%;
  max-width: 20%;
  padding: 50px 10px 10px 13px;
  text-align: center;
  overflow-y: scroll;
  max-height: 90vh;
  animation-duration: 0.35s;
  margin-top: 10px;
}

#ChallengePanel .challenge-name:hover {
  background-color: black;
  cursor: pointer;
}

#TestTable {
  width: 99%;
  height: auto;
  border: none;
  margin-left: 3px;
  margin-right: 3px;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #272727;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: transparent;
}

::-webkit-scrollbar-corner {
  background-color: #2f3129;
}

tbody.lobby-table tr:nth-child(odd) {
   background-color: #272822;
}

table {
  border-collapse: separate;
}

/* successul submission pop up*/

.modal {
  font-size: 20px;
  text-align: center;
  border-color: black
}

.icon-check {
  display: block;
  margin: auto;
  color: green;
}

.icon-cross {
  display: block;
  margin: auto;
  color: red;
}

.cursor-pointer {
  cursor: pointer;
}

.lighter:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
  text-decoration: none;
}

#Confirmation {
  position: fixed;
  text-align: center;
  background-color: #D3D3D3;
  width: 400px;
  height: 150px;
  color: black;
  top: 25%;
  left: 40%;
  z-index: 500;
  border: 1px solid #A9A9A9;
}

.profile-page {
  background-color: #2f3129;
}

.profile-header {
  margin-top: 3em;
}

.profile-header-title {
  color: #fff;
  font-weight: 400;
}

.completed-challenges-table {
  width: 100%;
  color: #ccc;
  text-align: left;
}

.completed-challenges-table-header {
  color: white;
  font-size: 1.3em;
}

.completed-challenges-table-body {
  background-color: transparent;
}

.completed-challenges-table-body * {
  background-color: green;
}

.completed-challenges-table-link {

}
