.App {
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/* lobby styling */
.lobby-page {
  display: flex;
  height: 100vh;
  width: 100vw;
}

/*left side of screen: */
.left-screen {
  float: left;
  max-width: 500px;
  min-width: 220px;
  height: 100%;
  background-color: gray;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}

.webcam-section {
  order: 1;
  float: left;
  width: 100%;
  display: flex;
  /*flex-grow: 1;*/
  /*display: inline-flex;*/
  /*position: absolute;*/
}

.parent-webcam {
  width: 100%;
  height: 100%;
  position: relative;
}

.waiting {
  text-align: center;
  text: white;
  font-size: 30px;
  line-height: 300px;
  background-color: black;
  height: 375px;
  width: 500px;
  z-index: 1;
}

.myStream {
  right: 0px;
  bottom: 0px;
  width: 30%;
  position: absolute;
  z-index: 2;
}

.test-suite {
  order: 2;
  width: 100%;
  background-color: red;
  flex-grow: 1;
  left: 0px;
  bottom: 0px;
  /*position: absolute;*/
}


/*right side of screen lobby: */
.editor-section {
  float: right;
  min-width: 500px;
  min-height: 800px;
  flex-grow: 1;
}

.menu-lobby {
  margin-left: 100px;
  flex-grow: 1;
}

.ace-editor {
  height: 800px;
}
