th, td {
  padding: 1rem;
}

.btn {
  color: white;
  background: transparent;
}
.nav-default{
  background-color: #272822;
  padding: 1rem;
  height: 40px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/* lobby styling */
.lobby-page {
  background-color: #2f3129;
  color: white;
  height: 100vh;
  /*overflow: hidden;*/
}

/*left side of screen: */
.left-screen {
  float: left;
  max-width: 300px;
  min-width: 220px;
  height: inherit;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
  margin-left: 20px;
}

.webcam-section {
  order: 0;
  float: left;
  width: 100%;
  display: flex;
  position: absolute;
  bottom: 2%;
}

.parent-webcam {
  width: 100%;
  height: 100%;
  position: relative;
}

.waiting {
  display: flex;
  justify-content: center;
  align-items: center;
  text: white;
  font-size: 20px;
  background-color: black;
}

.myStream {
  right: 0px;
  bottom: 0px;
  width: 33%;
  position: absolute;
  z-index: 2;
}

.test-suite {
  position: relative;
  order: 1;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 35vh;
}

.test-suite-item {
  /*background-color: green*/
}

.test-suite-item > * {
  margin-left: 100px
}

/*right side of screen lobby: */
.editor-section {
  float: right;
  flex-grow: 1;;
}

.menu-lobby {
  margin-left: 100px;
  flex-grow: 1;
}

.header {
  width: 100%;
  height: 100px;
  border: 1px solid black;
  position: fixed;
}

.footer {
  background-color: #2f3129;
  height: 5px;
  width: 100vw;
}

#create-lobby {
  margin-top: 125px;
  width: 400px;
  height: 50px;
  z-index: 0;
  background: transparent;
  border-color: white;
  color: white;
  text-align: center;
}

#create-lobby:hover {
  background-color: slategray;
}

#landingPageGif {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: url('./landingPage.gif') no-repeat;
  background-size: cover;
  z-index: -1;
  filter: blur(0.8px);
  overflow-y: hidden;
  border-color: black;
  margin: 0;
  padding: 0;
}

#landingPage_description {
  margin-top: 170px;
  height: 0px;
  color: white;
  font-size: 1.5em;
}

#RunButton {
  display: inline;
  margin-left: 35px;
  background-color: #272822;
  border: none;

}

#ChallengeButton {
  margin-left: 30%;
  background-color: #272822;
  border: none;
}

#EditorBar {
  margin-bottom: 7px;
}

#ChallengePanel {
  min-width: 20%;
  max-width: 20%;
}

#TestTable {
  width: 100%;
  height: auto;
  border: none;
  margin-left: 3px;
  margin-right: 3px;
}

/* custom scrollbar */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #272727;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: transparent;
}

tbody.lobby-table tr:nth-child(odd) {
   background-color: #272822;
}


table {border-collapse: collapse;}
